<template>
  <div class="map-bg" id="map-container">
    <div class="cover-map"></div>
  </div>
  <!-- 标记点窗体 -->
  <div
    ref="markerInfoWindowDom"
    class="info-window info-backgroud-color markerInfoWindowDom"
    v-show="isShowMarkerInfoWindowDom"
  >
    <div class="title">{{ name }}</div>
    <div class="cont">
      <div>
        <div>巡查里程：</div>
        <div>{{ mileage + "km" }}</div>
      </div>
      <div>
        <div>投入设备数：</div>
        <div>{{ devicesNum + "台" }}</div>
      </div>
      <div>
        <div>累计检测天数：</div>
        <div>{{ Days + "天" }}</div>
      </div>
      <div>
        <div>日检测里程：</div>
        <div>
          <el-tooltip class="item" effect="dark" :content="`${(mileage / Days).toFixed(2)} km/天`" placement="bottom-start">
            {{ (mileage / Days).toFixed(2) + "km/天" }}
          </el-tooltip>
        </div>
      </div>
    </div>
  </div>
  <!-- 路段窗体 -->
  <div
    ref="roadLineinfoWindowDom"
    class="info-window roadline-info-backgroud-color roadLineinfoWindowDom"
    v-show="isShowRoadLineinfoWindowDom"
  >
    <div class="title">路段详情</div>
    <div class="img">
      <!-- <img :src="img_url" alt="" /> -->
      <el-image
      :src="img_url"
      :preview-src-list="[img_url]"
      fit="cover"
      append-to-body
      >
        <template #placeholder>
          <div class="image-slot">Loading<span class="dot">...</span></div>
        </template>
      </el-image>
    </div>
    <div class="cont">
      <div>
        <div>具体位置：</div>
        <div>
          <el-tooltip class="item" effect="dark" :content="`${location}`" placement="bottom-start">
            {{ location }}
          </el-tooltip>
        </div>
      </div>
      <div>
        <div>时间：</div>
        <div>
          <el-tooltip class="item" effect="dark" :content="`${time}`" placement="bottom-start">
            {{ time }}
          </el-tooltip>
        </div>
      </div>
      <div>
        <div>RQI：</div>
        <div style="color: #f2bf18">{{ rqi }}</div>
      </div>
      <div>
        <div>PCI：</div>
        <div style="color: #fb751d">{{ pci }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import AMapLoader from '@amap/amap-jsapi-loader'
import { moveDown } from '@/utils/moveDown'
// 农路测试数据
import { farmersRoadData } from '../../mock/farmersRoad'

export default {
  emits: ['mapLngLat'],
  props: {},
  data () {
    return {
      GDMap: null,
      GDLoca: null,
      GDCenter: [105.385009, 37.129572],
      GDZoom: 4.85,
      GDKey: '149e1b8167e85a0799e3dc0e238b2e10',
      // GDStyle: 'amap://styles/99a69b07ddaaa6d15794c913a2ef277d',
      GDStyle: 'amap://styles/eeff77b6556290e73195ec2646510583', // 替换新的地图样式
      securityJsCode: '7de42d97d897ab47033581dbe6f0017f',
      farmersRoadData: null, // 农路大屏渲染数据 测试数据
      marker: null, // 中心坐标点
      bzArr: [], // 流向图 贝塞尔曲线
      circleMarkerArr: [], // 流向图 目的点
      deepMarkerArr: [], // 深层标记点
      hasRenderRoadAreaArr: [], // 已渲染道路的区域name集合
      renderRoadList: [], // 已渲染道路的实例集合
      roadLineLayer: null, // 路段 loca线层
      // 信息窗体
      infoWindow: null,
      name: null,
      mileage: null,
      Days: null,
      devicesNum: null,
      isShowMarkerInfoWindowDom: false,
      isShowRoadLineinfoWindowDom: false,
      // 路段 窗体 回显
      location: null,
      time: null,
      rqi: null,
      pci: null,
      img_url: null,
      //
      collapseFlag: true,
      //
      isShowRoadLineLegend: false
    }
  },
  async mounted () {
    //
    this.$bus.$on('collapse', (data) => {
      this.collapseFlag = data
    })
    this.farmersRoadData = farmersRoadData
    window._AMapSecurityConfig = {
      securityJsCode: this.securityJsCode
    }
    await this.initMapLoader()
  },
  watch: {
    '$store.state.row.name': {
      deep: true,
      handler (nv) {
        if (nv) {
          // console.log('nv', nv)
          this.GDMap.setZoomAndCenter(10.6, this.$store.state.row.center)
          this.showMarkerInfo(this.$store.state.row)
        }
      }
    },
    '$store.state.clickNum': {
      deep: true,
      handler (nv) {
        if (nv) {
          // console.log('nv', nv)
          this.GDMap.setZoomAndCenter(10.6, this.$store.state.row.center)
          this.showMarkerInfo(this.$store.state.row)
        }
      }
    },
    isShowRoadLineLegend: {
      handler (nv) {
        this.showRoadLineLegend()
      }
    }
  },
  methods: {
    async initMapLoader () {
      const self = this
      await AMapLoader.load({
        key: this.GDKey, // 申请好的Web端开发者Key，首次调用 load 时必填
        version: '2.0', // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
        plugins: ['AMap.Geolocation'],
        Loca: {
          version: '2.0' // Loca 版本
        }
      })
        .then((AMap) => {
          const map = new AMap.Map('map-container', {
            viewMode: '2D', // 地图模式
            zoom: self.GDZoom,
            mapStyle: self.GDStyle,
            center: self.GDCenter,
            animateEnable: false,
            // expandZoomRange: true,
            zooms: [4, 18]
          })
          self.GDMap = map
          self.GDMap.on('complete', function () {
            // 地图图块加载完成后触发
            // console.log('地图图块加载完成后触发')
            // eslint-disable-next-line no-undef
            self.GDLoca = new Loca.Container({
              map
            })
            self.GDMap.on('mousemove', (e) => {
              self.$emit('mapLngLat', e.lnglat)
            })
            // 信息窗体 初始化实例
            self.infoWindow = new AMap.InfoWindow({
              content: '', // 使用默认信息窗体框样式，显示信息内容
              anchor: 'top-left',
              offset: new AMap.Pixel(-250, -100)
              // autoMove: true
            })
            // 初始化天气
            self.initWeatherEvent()
            //
            self.isShowMarkerInfoWindowDom = true
            self.isShowRoadLineinfoWindowDom = true
            // 工具条 缩放地图
            self.$bus.$on('zoomChangeFlag', (flag) => {
            // console.log('zoomChangeFlag bus on', flag)
              const currentZoom = self.GDMap.getZoom()
              // console.log('currentZoom', currentZoom)
              if (flag === 'in') {
                self.GDMap.setZoom(currentZoom + 1)
              } else if (flag === 'out') {
                self.GDMap.setZoom(currentZoom - 1)
              } else if (flag === 'init') {
                self.GDMap.setZoomAndCenter(self.GDZoom - 0.2, self.GDCenter)
              }
            })
            // 上海为流向中心点
            self.setBesCenter()
            // 流向目的点 圆形标记
            self.setBesEndCircleMarker()
            // 绘制坐标标记间的流向贝赛尔曲线
            self.setBesizerCurve(AMap)
            // 撒点
            self.renderDeepMarker()
            // 绑定监听地图缩放的事件
            self.GDMap.on('zoomchange', self.mapZoomFn)
          })
        })
        .catch((e) => {
          console.log(e)
        })
    },
    initWeatherEvent () {
      const self = this
      let nowWeather = null
      AMap.plugin(['AMap.Geolocation'], function () {
        const geolocation = new AMap.Geolocation({
          enableHighAccuracy: true, // 是否使用高精度定位，默认:true
          timeout: 100000, // 超过10秒后停止定位，默认：无穷大
          maximumAge: 0, // 定位结果缓存0毫秒，默认：0
          convert: true, // 自动偏移坐标，偏移后的坐标为高德坐标，默认：true
          showButton: true, // 显示定位按钮，默认：true
          buttonPosition: 'LB', // 定位按钮停靠位置，默认：'LB'，左下角
          buttonOffset: new AMap.Pixel(10, 20), // 定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
          showMarker: true, // 定位成功后在定位到的位置显示点标记，默认：true
          showCircle: true, // 定位成功后用圆圈表示定位精度范围，默认：true
          panToLocation: true, // 定位成功后将定位到的位置作为地图中心点，默认：true
          zoomToAccuracy: true // 定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
        })
        geolocation.getCityInfo(function (status, result) {
          if (status == 'complete') {
            self.city = result.city
            // 创建天气查询实例
            AMap.plugin(['AMap.Weather'], function () {
              const wea = new AMap.Weather()
              // 执行实时天气信息查询
              wea.getForecast(result.city, function (err, data) {
                if (data) {
                  nowWeather = data.forecasts[0]
                  self.$bus.$emit('getWeather', nowWeather)
                }
                if (err) {
                }
              })
            })
          }
        })
      })
    },
    // 撒点
    renderDeepMarker () {
      const icon = new AMap.Icon({
        size: new AMap.Size(40, 40), // 图标尺寸
        imageSize: new AMap.Size(40, 40),
        image: require('@/assets/image/map/deep_marker.png') // Icon的图像
        // imageOffset: new AMap.Pixel(-10, 0) // 图像相对展示区域的偏移量，适于雪碧图等
      })
      this.farmersRoadData.forEach((v) => {
        // 将 Icon 实例添加到 marker 上:
        const marker = new AMap.Marker({
          position: new AMap.LngLat(v.center[0], v.center[1]),
          offset: new AMap.Pixel(0, -50),
          icon: icon, // 添加 Icon 实例
          title: v.name,
          label: {
            direction: 'top',
            content: v.name,
            offset: new AMap.Pixel(0, -10) // 相对于基点的偏移位置
          }
        })
        // Marker都绑定上点击事件
        marker.on('click', (e) => {
          // 点击marker将其设为中心点
          this.GDMap.setCenter(new AMap.LngLat(e.lnglat.lng, e.lnglat.lat))
          this.showMarkerInfo(v)
        })
        //
        this.deepMarkerArr.push(marker)
      })
    },
    showMarkerInfo (row) {
      // 回显数据
      this.name = row.name
      this.mileage = row.mileage
      this.devicesNum = row.devicesNum
      this.Days = row.Days
      // 点击后创建自定义信息窗口
      this.infoWindow.setContent(this.$refs.markerInfoWindowDom)
      this.infoWindow.open(this.GDMap, new AMap.LngLat(row.center[0], row.center[1]))
      // console.log('infowindow lng', new AMap.LngLat(row.center[0], row.center[1]))
      // 渲染道路
      // if (!this.hasRenderRoadAreaArr.includes(row.name) && row.roadData) {
      // console.log(`${row.name}，道路开始渲染`)
      // this.renderRoad(row.roadData)
      if (row.roadData) {
        this.renderRoadLoca(row.roadData)
      }
      // 已渲染标记
      // this.hasRenderRoadAreaArr.push(row.name)
      // }
      //
      this.bindMouseMove()
    },
    // 地图路段
    renderRoad (arr) {
      const colorList = ['#19EF98', '#19D2EF', '#F2BF18', '#FB751D', '#E72405']
      const roadlineList = arr.map((cItem) => {
        const path = [
          [cItem.start_longitude, cItem.start_latitude],
          [cItem.end_longitude, cItem.end_latitude]
        ]
        let color = colorList[0]
        if (cItem.pqi >= 90) {
          // 优
          color = colorList[0]
        } else if (cItem.pqi >= 80 && cItem.pqi < 90) {
          // 良
          color = colorList[1]
        } else if (cItem.pqi >= 70 && cItem.pqi < 80) {
          // 中
          color = colorList[2]
        } else if (cItem.pqi >= 60 && cItem.pqi < 70) {
          // 次
          color = colorList[3]
        } else if (cItem.pqi < 60) {
          // 差
          color = colorList[4]
        }
        const line = new AMap.Polyline({
          path: path,
          isOutline: false,
          outlineColor: '#fff',
          borderWeight: 1,
          strokeColor: color,
          strokeOpacity: 1,
          strokeWeight: 6,
          strokeStyle: 'solid',
          strokeDasharray: [10, 5],
          zIndex: 50,
          extData: cItem,
          cursor: 'pointer'
        })
        // line都绑定上点击事件
        line.on('click', (e) => {
          // console.log('e', e)
          // console.log('getPath', line.getPath())
          // 回显信息窗体数据
          this.location = cItem.location
          this.time = cItem.time
          this.rqi = cItem.rqi
          this.pci = cItem.pci
          this.img_url =
            typeof cItem.img_url === 'string' &&
            cItem.img_url.indexOf('.jpg') !== -1
              ? `https://www.shtongluyun.com:10000/${cItem.img_url}`
              : require('@/assets/image/map/road_normal_img.png')
          console.log(cItem)
          // 信息窗体 初始化实例
          // 点击后创建自定义信息窗口
          this.infoWindow.setContent(this.$refs.roadLineinfoWindowDom)
          this.infoWindow.open(this.GDMap, e.lnglat)
        })
        return line
      })
      this.GDMap.add(roadlineList)
      // 加进已渲染的道路实例集合
      this.renderRoadList.push(...roadlineList)
    },
    // 地图路段 loca
    renderRoadLoca (arr) {
      const self = this
      if (this.roadLineLayer) {
        this.GDLoca.remove(this.roadLineLayer)
        this.roadLineLayer = null
      }
      const roadlineList = arr.map((cItem) => {
        const path = [
          [cItem.start_longitude, cItem.start_latitude],
          [cItem.end_longitude, cItem.end_latitude]
        ]
        const nItem = {
          type: 'Feature',
          properties: cItem,
          geometry: {
            type: 'LineString',
            coordinates: path
          }
        }
        return nItem
      })
      const lineData = {
        type: 'FeatureCollection',
        features: roadlineList
      }
      // console.log('lineData', lineData)
      // eslint-disable-next-line no-undef
      const geoSource = new Loca.GeoJSONSource({ data: lineData })
      // eslint-disable-next-line no-undef
      this.roadLineLayer = new Loca.LineLayer({
        loca: this.GDLoca
      })
      this.roadLineLayer.setSource(geoSource)
      const colorList = ['#19EF98', '#19D2EF', '#F2BF18', '#FB751D', '#E72405']
      this.roadLineLayer.setStyle({
        color: (e, props) => {
          let lineColor = colorList[0]
          if (props.properties.pqi >= 90) {
            lineColor = colorList[0]
          } else if (props.properties.pqi >= 80 && props.properties.pqi < 90) {
            lineColor = colorList[1]
          } else if (props.properties.pqi >= 70 && props.properties.pqi < 80) {
            lineColor = colorList[2]
          } else if (props.properties.pqi >= 60 && props.properties.pqi < 70) {
            lineColor = colorList[3]
          } else if (props.properties.pqi < 60) {
            lineColor = colorList[4]
          }
          return lineColor
        },
        lineWidth: 6
      })
      //
      this.GDLoca.add(this.roadLineLayer)
      //
      this.GDMap.on('click', e => {
        // console.log(e)
        const feat = this.roadLineLayer.queryFeature(e.pixel.toArray())
        if (!feat) return
        console.log('feat', feat)
        //
        this.location = feat.properties.location
        this.time = feat.properties.time
        this.rqi = feat.properties.rqi
        this.pci = feat.properties.pci
        this.img_url =
          typeof feat.properties.img_url === 'string' &&
          feat.properties.img_url.indexOf('.jpg') !== -1
            ? `https://www.shtongluyun.com:10000/${feat.properties.img_url}`
            : require('@/assets/image/map/road_normal_img.png')
        //
        this.infoWindow.setContent(this.$refs.roadLineinfoWindowDom)
        this.infoWindow.open(this.GDMap, new AMap.LngLat(e.lnglat.lng - 0.01, e.lnglat.lat))
        this.infoWindow.on('close', function (e) {
          console.log('close')
          self.$nextTick(function () {
            this.roadLineLayer.setStyle({
              color: (e, props) => {
                let lineColor = colorList[0]
                if (props.properties.pqi >= 90) {
                  lineColor = colorList[0]
                } else if (props.properties.pqi >= 80 && props.properties.pqi < 90) {
                  lineColor = colorList[1]
                } else if (props.properties.pqi >= 70 && props.properties.pqi < 80) {
                  lineColor = colorList[2]
                } else if (props.properties.pqi >= 60 && props.properties.pqi < 70) {
                  lineColor = colorList[3]
                } else if (props.properties.pqi < 60) {
                  lineColor = colorList[4]
                }
                return lineColor
              },
              lineWidth: 6
            })
          })
        })
        //
        this.GDMap.setZoomAndCenter(14, e.lnglat)
        //
        this.bindMouseMove()
        // 路段高亮
        const colorList = ['#19EF98', '#19D2EF', '#F2BF18', '#FB751D', '#E72405']
        this.roadLineLayer.setStyle({
          color: (e, props) => {
            if (e) {
              // console.log('e', e)
            }
            if (props) {
              // console.log('props', props)
            }
            if (props.sr === feat.sr) {
              return '#215CFF'
            } else {
              let lineColor = colorList[0]
              if (props.properties.pqi >= 90) {
                lineColor = colorList[0]
              } else if (props.properties.pqi >= 80 && props.properties.pqi < 90) {
                lineColor = colorList[1]
              } else if (props.properties.pqi >= 70 && props.properties.pqi < 80) {
                lineColor = colorList[2]
              } else if (props.properties.pqi >= 60 && props.properties.pqi < 70) {
                lineColor = colorList[3]
              } else if (props.properties.pqi < 60) {
                lineColor = colorList[4]
              }
              return lineColor
            }
          },
          lineWidth: 6
        })
      })
    },
    // 设置流向中心点 icon标记点
    setBesCenter () {
      // 创建 AMap.Icon 实例：
      var icon = new AMap.Icon({
        size: new AMap.Size(120, 120), // 图标尺寸
        imageSize: new AMap.Size(30, 30),
        image: require('@/assets/image/map/area_center.png') // Icon的图像
        // imageOffset: new AMap.Pixel(0, -60),  // 图像相对展示区域的偏移量，适于雪碧图等
      })
      // 将 Icon 实例添加到 marker 上:
      this.marker = new AMap.Marker({
        position: new AMap.LngLat(120.473662, 32.230372),
        offset: new AMap.Pixel(-20, -10),
        icon: icon, // 添加 Icon 实例
        title: '上海'
      })
      this.GDMap.add(this.marker)
    },
    // 设置流向目的点 圆形标记
    setBesEndCircleMarker () {
      const icon = new AMap.Icon({
        size: new AMap.Size(40, 40), // 图标尺寸
        imageSize: new AMap.Size(40, 40),
        image: require('@/assets/image/map/bes_end_marker.png') // Icon的图像
        // imageOffset: new AMap.Pixel(-10, 0) // 图像相对展示区域的偏移量，适于雪碧图等
      })
      this.farmersRoadData.forEach((v) => {
        // 将 Icon 实例添加到 marker 上:
        const marker = new AMap.Marker({
          position: new AMap.LngLat(v.center[0], v.center[1]),
          offset: new AMap.Pixel(-30, -20),
          icon: icon, // 添加 Icon 实例
          title: v.name
        })
        //
        this.circleMarkerArr.push(marker)
      })
      this.GDMap.add(this.circleMarkerArr)
    },
    // 设置流向图 贝塞尔曲线
    setBesizerCurve (AMap) {
      // 贝赛尔曲线经过的起点，终点的二维数组;
      // 控制点取法：两点间垂直线上找偏移点坐标；举例：起点上海终点北京，控制点可以取烟台坐标 （参照坐标拾取器）
      const startPoint = [[120.473662, 32.230372]] // 起点 上海
      // 控制点，终点 黔南州
      const endPoint1 = [
        [114.951868, 25.866997],
        [107.522303, 26.253136]
      ]
      // 控制点，终点 黔东南州
      const endPoint2 = [
        [115.804766, 26.245827],
        [107.982838, 26.583759]
      ]
      // 控制点，终点 黔西南州
      const endPoint3 = [
        [113.669368, 24.790899],
        [104.906419, 25.087733]
      ]
      // 控制点，终点 六盘水市
      const endPoint4 = [
        [114.913546, 25.736443],
        [104.830357, 26.592538]
      ]
      // 控制点，终点 毕节市
      const endPoint5 = [
        [113.040113, 25.69111],
        [105.291544, 27.283615]
      ]
      // 控制点，终点 铜仁市
      const endPoint6 = [
        [115.063392, 27.040328],
        [109.189528, 27.731555]
      ]
      // 控制点，终点 汕头市
      const endPoint7 = [
        [122.370091, 25.877151],
        [116.681956, 23.354152]
      ]
      // 控制点，终点 宜昌市
      const endPoint8 = [
        [117.200407, 29.243431],
        [111.286962, 30.69217]
      ]
      // 控制点，终点 恩施市
      const endPoint9 = [
        [115.857571, 28.70315],
        [109.488076, 30.272104]
      ]
      // 控制点，终点 福清市
      const endPoint10 = [
        [122.98653, 27.139094],
        [119.384388, 25.720081]
      ]
      // 控制点，终点 湖州市南浔区
      const endPoint11 = [
        [121.06711, 30.727974],
        [120.418244, 30.850835]
      ]
      // 控制点，终点 重庆市忠县
      const endPoint12 = [
        [112.904546, 28.255429],
        [108.038073, 30.299817]
      ]
      // 控制点，终点 嘉兴市嘉善县
      const endPoint13 = [
        [121.384539, 30.845294],
        [120.926031, 30.83085]
      ]
      // 控制点，终点 四川金川县
      const endPoint14 = [
        [111.644603, 28.880362],
        [102.046663, 31.6373]
      ]
      //
      const pathList = [
        [startPoint, endPoint1],
        [startPoint, endPoint2],
        [startPoint, endPoint3],
        [startPoint, endPoint4],
        [startPoint, endPoint5],
        [startPoint, endPoint6],
        [startPoint, endPoint7],
        [startPoint, endPoint8],
        [startPoint, endPoint9],
        [startPoint, endPoint10],
        [startPoint, endPoint11],
        [startPoint, endPoint12],
        [startPoint, endPoint13],
        [startPoint, endPoint14]
      ]

      pathList.forEach((path) => {
        //
        const bz = new AMap.BezierCurve({
          path: path,
          strokeWeight: 2, // 线条宽度
          strokeColor: '#37CEF4', // 线条颜色
          isOutline: false // 是否描边
          // outlineColor: 'red', // 描边颜色
          // borderWeight: 5 // 描边宽度
        })
        this.bzArr.push(bz)
        //
      })
      this.GDMap.add(this.bzArr)
    },
    // 监听地图缩放的事件回调
    mapZoomFn () {
      // 获取当前地图级别
      const zoom = this.GDMap.getZoom()
      // console.log('zoom', zoom)
      // 如果地图缩放层级大于7，就不显示流向坐标
      if (zoom > 6) {
        this.GDMap.remove(this.marker)
        this.GDMap.remove(this.bzArr)
        this.GDMap.remove(this.circleMarkerArr)
        // 显示已渲染的道路
        if (this.roadLineLayer) {
          this.GDLoca.add(this.roadLineLayer)
          this.isShowRoadLineLegend = true
        }
        //
        this.GDMap.add(this.deepMarkerArr)
      } else {
        this.GDMap.add(this.marker)
        this.GDMap.add(this.bzArr)
        this.GDMap.add(this.circleMarkerArr)
        // 隐藏已渲染的道路
        if (this.roadLineLayer) {
          this.GDLoca.remove(this.roadLineLayer)
          this.isShowRoadLineLegend = false
        }
        //
        this.GDMap.remove(this.deepMarkerArr)
        // 清除信息窗体
        this.closeInfoWindow()
      }
    },
    closeInfoWindow () {
      this.GDMap.clearInfoWindow()
    },
    bindMouseMove () {
      // console.log(document.querySelector('.info-window').querySelector('.title'))
      document.querySelector('.info-window').querySelector('.title').addEventListener('mousedown', (e) => {
        moveDown(e, this, this.collapseFlag)
      })
    },
    // 触发展示 优良中次差图例
    // 折叠收起
    showRoadLineLegend () {
      // this.isShowRoadLineLegend = !this.isShowRoadLineLegend
      this.$bus.$emit('isShowRoadLineLegend', this.isShowRoadLineLegend)
    }
  }
}
</script>
<style lang="scss">
.map-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  .cover-map {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/image/map/map_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    z-index: 151;
    pointer-events: none;
  }
  .amap-marker-label {
    width: 138px;
    height: 38px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #3bd7ff;
    background-color: #022832;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// 信息窗体
.info-window {
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 175px;
  font-size: 14px;
  color: #fff;
  &.markerInfoWindowDom,
  &.roadLineinfoWindowDom {
    .title {
      cursor: move;
      height: 50px;
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    .img {
      display: flex;
      justify-content: center;
      height: 203px;
      .el-image {
        width: 100%;
        height: 100%;
      }
      .image-slot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--el-text-color-secondary);
        font-size: 14px;
      }
      .dot {
        animation: dot 2s infinite steps(3, start);
        overflow: hidden;
      }
    }
    .cont {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 8px 0;
      transform: translateX(-10px);
      > div {
        flex: 1;
        display: flex;
        align-items: center;
        > div {
          &:nth-child(1) {
            text-align: right;
            color: #1f9dbd;
          }
          &:nth-child(2) {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  &.markerInfoWindowDom {
    .title {
      padding: 0 16px;
    }
    .img {
      margin-bottom: 10px;
    }
    .cont {
      > div {
        > div {
          &:nth-child(1) {
            width: 58%;
          }
        }
      }
    }
    ~.amap-info-close {
      top: 15px;
      right: 15px;
    }
  }
  &.roadLineinfoWindowDom {
    padding: 0px 20px;
    width: 353px;
    height: 367px;
    .cont {
      > div {
        > div {
          &:nth-child(1) {
            width: 25%;
          }
        }
      }
    }
    ~.amap-info-close {
      font-size: 20px!important;
      top: 15px;
      right: 20px;
    }
  }
}
.amap-info {
  z-index: 1000!important;
  .amap-info-content {
    padding: 0;
    background-color: rgba(100, 100, 100, 0.2);
    backdrop-filter: blur(5px);
    .amap-info-close {
      color: #fff;
      font-size: 16px;
    }
  }
  .amap-info-sharp {
    display: none;
  }
}
/*-----全局毛玻璃效果css-----*/
.info-backgroud-color::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/image/map/info_window_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*-----全局毛玻璃效果css-----*/
.roadline-info-backgroud-color::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/image/map/roadline_info_window_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

</style>
