<template>
  <div class="road-surface-left" :class="{ 'translate-left': collapseFlag }">
    <div class="mileage-total backgroud-color">
      <div class="title">
        <i class="title-quto-icon"></i>
        <span class="name">综合统计</span>
      </div>
      <div class="mileage-patrol">
        <div class="mileage-patrol-item">
          <div>
            <img src="@/assets/image/left/area.png" alt="" />
          </div>
          <div>
            <div>
              <span>{{ areasNum }}</span> 个
            </div>
            <div>累积采集区域</div>
          </div>
        </div>
        <div class="mileage-patrol-item">
          <div>
            <img src="@/assets/image/left/mile.png" alt="" />
          </div>
          <div>
            <div>
              <span>{{ mileage }}</span> 公里
            </div>
            <div>累积采集里程</div>
          </div>
        </div>
        <div class="mileage-patrol-item">
          <div>
            <img src="@/assets/image/left/image.png" alt="" />
          </div>
          <div>
            <div>
              <span>{{ imagesNum }}</span> 张
            </div>
            <div>累积采集图像</div>
          </div>
        </div>
        <div class="mileage-patrol-item">
          <div>
            <img src="@/assets/image/left/disease.png" alt="" />
          </div>
          <div>
            <div>
              <span>{{ diseaseNum }}</span> 个
            </div>
            <div>累积识别病害</div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="order-disease backgroud-color">
      <div class="title">
        <i class="title-quto-icon"></i>
        <span class="name">检测区域</span>
      </div>
      <div class="order-table">
        <el-table
          :data="tableData"
          height="100%"
          @row-click="tableRowClickEvent"
        >
          <el-table-column
            prop="name"
            min-width="20"
            label="检测单位"
            align="center"
            show-overflow-tooltip
          />
          <el-table-column
            prop="mileage"
            min-width="15"
            label="检测里程"
            align="center"
            show-overflow-tooltip
            :formatter="formatData"
          />
          <el-table-column
            prop="devicesNum"
            min-width="15"
            label="投入设备数"
            align="center"
            show-overflow-tooltip
            :formatter="formatData"
          />
          <el-table-column
            prop="Days"
            min-width="13"
            label="检测时长"
            align="center"
            show-overflow-tooltip
            :formatter="formatData"
          />
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
import { CaretRight } from '@element-plus/icons-vue'
// 农路测试数据
import { farmersRoadData } from '../../mock/farmersRoad'

export default {
  name: 'RoadSurfaceLeft',
  components: {
    CaretRight
  },
  data () {
    return {
      areasNum: 0,
      mileage: 0,
      imagesNum: 0,
      diseaseNum: 0,
      collapseFlag: true,
      tableData: null
    }
  },
  mounted () {
    //
    this.$bus.$on('collapse', (data) => {
      this.collapseFlag = data
      // console.log('left-bus, in', this.collapseFlag)
    })
    //
    this.initData()
  },
  methods: {
    // 初始化数据
    initData () {
      this.areasNum = 14
      this.mileage = 81308.05
      this.imagesNum = 56562359
      this.diseaseNum = 6259638
      //
      this.tableData = farmersRoadData
    },
    // table行点击
    tableRowClickEvent (row) {
      console.log('11111>>>', row.center)
      //
      // this.$store.dispatch("mapCenterData", row.center);
      // console.log("+++++>>>", this.$store.state.mapCenter);
      //
      this.$store.dispatch('mapRowData', row)
      console.log('+++++>>>', this.$store.state.row)
      // this.$bus.$emit('getHighLightRoadArea', row)
      // console.log('getHighLightRoadArea emit', row.center)
      //
      this.$store.dispatch('clickRow', row)
    },
    // table 内容格式化
    formatData (row, column, cellValue, index) {
      if (column.property === 'mileage') {
        return `${cellValue}km`
      } else if (column.property === 'devicesNum') {
        return `${cellValue}台`
      } else if (column.property === 'Days') {
        return `${cellValue}天`
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.road-surface-left {
  position: absolute;
  z-index: 200;
  left: 20px;
  top: 100px;
  bottom: 20px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  transition: all 0.5s ease-in-out;
  .mileage-total,
  .order-disease {
    width: 100%;
    margin-top: 20px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    .title {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      background-color: #282e35;
      .name {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        margin: 10px;
      }
      .collapse-icon {
        font-size: 12px;
        color: #3bd7ff;
        position: absolute;
        right: 14px;
        top: 14px;
        cursor: pointer;
      }
      .title-quto-icon {
        width: 2px;
        height: 8px;
        background-color: #3bd7ff;
        margin-left: 9px;
      }
    }
  }
  .mileage-total {
    margin-top: 0;
    height: 428px;
    position: relative;
    overflow: inherit;
    .title {
      border-radius: 2px 2px 0 0;
      .collapse-btn {
        position: absolute;
        right: 14px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        .collapse-name {
          white-space: nowrap;
          font-size: 12px;
          color: #3bd7ff;
        }
        .collapse-icon {
          position: static;
        }
      }
      .title-arrow {
        color: #3bd7ff;
        font-size: 18px;
        margin-left: 4px;
      }
    }
    .mileage-patrol {
      width: 100%;
      height: 388px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 2px 2px;
      box-sizing: border-box;
      padding: 22px 39px;
      overflow: hidden;
      .mileage-patrol-item {
        width: 100%;
        height: 0;
        flex: 1;
        display: flex;
        &:not(:last-child) {
          margin-bottom: 22px;
        }
        > div {
          height: 73px;
          display: inline-block;
          &:nth-child(1) {
            display: flex;
            width: 63px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          &:nth-child(2) {
            width: calc(100% - 63px);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            // background-color: yellow;
            > div {
              padding-left: 30px;
              font-size: 16px;
              &:nth-child(1) {
                color: #3bd7ff;
                span {
                  font-size: 30px;
                }
              }
            }
          }
        }
      }
    }
    .disease-number-total {
      position: absolute;
      z-index: 2;
      left: 360px;
      top: 0;
      width: 182px;
      height: 142px;
      border-radius: 2px;
      .total-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 6px;
        .total-quto-icon {
          width: 2px;
          height: 8px;
          background-color: #3bd7ff;
          margin-left: 10px;
        }
        .total-name-text {
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          text-indent: 10px;
        }
      }
      .total-module {
        margin: 0 20px;
        .total-top {
          padding: 6px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px dashed #364b54;
        }
        .total-bottom {
          margin-top: 4px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .total-item {
          width: 66px;
          height: 44px;
          border-radius: 4px;
          border: 1px solid rgba(75, 100, 110, 0.5);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .total-number {
            font-size: 20px;
            font-weight: 400;
            color: #3bd7ff;
          }
          .total-tips {
            font-size: 8px;
            font-weight: 400;
            color: #c9d2d6;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .order-disease {
    height: 499px;
    .order-table {
      margin-left: 10px;
      height: 459px;
      overflow: hidden;
      .waiting-deal {
        color: #ff7a23;
      }
      .waiting-accept {
        color: #19d2ef;
      }
      .processed {
        color: #00d48e;
      }
    }
  }
}
.translate-left {
  transform: translateX(-572px);
}
</style>
