// 数字字体
@font-face {
    font-family: "a-num";
    src: url('../font/AvenirNextLTPro-Regular.otf');
    unicode-range: U+30-39;
}
// 英文字体
@font-face {
    font-family: "d-num";
    src: url('../font/D-DIN.otf');
}
// 中文字体
@font-face {
    font-family: "SourceHanSansCN";
    src: url('../font/SourceHanSansCN-Normal.otf');
}

/*--清除登录input输入框样式--*/
.user-name .el-input__inner{
    background-color: transparent;
    border: 0;
    color: #DFF7FC;
    font-size: 16px;
    height: 100%;
}
.user-pass .el-input__inner{
    background-color: transparent;
    border: 0;
    color: #DFF7FC;
    font-size: 16px;
    height: 100%;
}

/*table样式1:左侧table*/
.order-table{
    font-family: "SourceHanSansCN";
}
.order-table .el-table__header-wrapper .cell{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
.order-table .el-table__body-wrapper .cell{
    font-size: 12px;
    font-weight: 400;
    color: #C9D2D6;
    white-space: nowrap;
}
.order-table .caret-wrapper{
    width: 12px!important;
    height: 18px!important;
}
.order-table .caret-wrapper .sort-caret{
    left: 3px;
    border-width: 4px;
}
.order-table .sort-caret.ascending{
    top: -2px;
}
.order-table .sort-caret.descending{
    bottom: 1px;
}
.order-table .el-table{
    background-color: transparent;
}
.order-table .el-table th.el-table__cell{
    background-color: transparent;
}
.order-table .el-table tr{
    background-color: transparent;
}
.order-table .el-table td.el-table__cell,
.order-table .el-table th.el-table__cell.is-leaf{
    border-bottom: 0;
}
.order-table .el-table--border .el-table__inner-wrapper::after,
.order-table .el-table--border::after, .el-table--border::before,
.order-table .el-table__inner-wrapper::before{
    background-color:transparent
}
.order-table .el-table .cell{
    padding: 0;
}
.order-table .el-table .el-table__body .el-table__row{
    border-left: 2px solid transparent;
}
.order-table .el-table .el-table__body .el-table__row:nth-child(odd){
    background-color: rgba(41, 50, 53, 0.45);
}
.order-table .el-table .el-table__body .el-table__row:nth-child(odd) .el-table_1_column_1{
    /* border-left: 2px solid rgba(47, 64, 69, 1); */
}
.order-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
    background-color: rgba(40, 84, 99, 0.45);
    /* border-left: 2px solid transparent; */
}
.order-table .el-table__body .el-table__row td.el-table__cell:first-child .cell{
    padding-left: 10px;
}
/* .order-table .el-table .ascending .sort-caret.ascending,
.order-table .el-table .descending .sort-caret.descending{
    border-bottom-color:#5EAAAB
} */
/* .order-table .el-table .descending .sort-caret.descending{
    bottom:-7px
} */


/*表格滚动条样式*/
.el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-track {
    border-radius: 3px;
    background: transparent;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
.el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #5C8095;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
/*不允许横向滚动*/
.el-table--scrollable-x .el-table__body-wrapper{
    overflow-x: hidden;
}


/*右侧基础筛选下拉框样式*/
.road-surface-right .search-wrap .value .el-input__inner{
    background-color: transparent;
    border: 1px solid #555E67;
    color: #B7C0C5;
    border-radius: 2px;
}
.road-surface-right .search-wrap .value .el-input__inner:focus{
    border: 1px solid #2BA1DC;
}
.el-select__popper.select-popper{
    /* background-color: rgba(16, 18, 18, 0.8)!important;
    border: 1px solid #555E67!important; */
    background-color: rgba(21,21,21, 0.8)!important;
    border: 1px solid #555E67!important;
}
.el-select__popper.select-popper .el-popper__arrow::before{
    display: none;
}
.el-select__popper.select-popper .el-select-dropdown__item{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.el-select__popper.select-popper .el-select-dropdown__item.hover,
.el-select__popper.select-popper .el-select-dropdown__item:hover{
    background-color: rgba(35, 98, 120, 0.45);
}
/*右侧复选框checkbox样式*/
.road-surface-right .disease-type-module .el-checkbox .el-checkbox__input .el-checkbox__inner{
    background-color: transparent;
    border: 1px solid #3BD7FF;
}
.road-surface-right .disease-type-module .el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner::after{
    border-color: #3BD7FF;
    border-width: 2px;
    top: 0;
}
.road-surface-right .disease-type-module .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
    background-color: #3BD7FF;
}

/*table样式2:右侧table*/
.disease-table{
    font-family: "SourceHanSansCN";
}
.disease-table .el-table__header-wrapper .cell{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    padding-left: 10px;
}
.disease-table .el-table__body-wrapper .cell{
    font-size: 12px;
    font-weight: 400;
    color: #C9D2D6;
    white-space: nowrap;
}
.disease-table .el-table{
    background-color: transparent;
}
.disease-table .el-table tr{
    background-color: transparent;
}
.disease-table .el-table th.el-table__cell{
    background-color: transparent;
}
.disease-table .el-table td.el-table__cell,
.disease-table .el-table th.el-table__cell.is-leaf{
    border-bottom: 0;
}
.disease-table .el-table--border .el-table__inner-wrapper::after,
.disease-table .el-table--border::after, .el-table--border::before,
.disease-table .el-table__inner-wrapper::before{
    background-color:transparent
}
.disease-table .el-table .cell{
    padding: 0;
}
/* .disease-table .el-table__body{
    margin-left: 10px;
} */
.disease-table .el-table .el-table__header{
    background-color: rgba(41, 50, 53, 0.45);
    border-bottom: 1px solid rgba(64, 69, 71, 0.8);
}
.disease-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
    background-color: rgba(40, 84, 99, 0.45);
}
.disease-table .el-table__body td.el-table__cell,
.disease-table  .el-table__body th.el-table__cell.is-leaf {
    border-bottom: 1px dashed rgba(77, 84, 85, 0.55);
}

/*右侧图片切换列表滚动条*/
.disease-img-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.disease-img-list::-webkit-scrollbar-track {
    border-radius: 3px;
    background: transparent;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -ms-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -o-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
.disease-img-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #5C8095;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
/*-----时光机滚动条-----*/
.time-machine-content .list-wrap .list-item-date::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.time-machine-content .list-wrap .list-item-date::-webkit-scrollbar-track {
    border-radius: 3px;
    background: transparent;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -ms-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -o-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
.time-machine-content .list-wrap .list-item-date::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(157, 167, 169, 0.8);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

/*-----全局毛玻璃效果css-----*/
.backgroud-color::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.2);
    backdrop-filter: blur(5px);
}

/*-----message样式修改-----*/
.el-message{
    font-size: 16px;
}

/*-----message box样式修改-----*/
.el-message-box{
    background-color: rgba(100, 100, 100, 0.2);
    backdrop-filter: blur(5px);
    border: none;
    .el-message-box__header {
        .el-message-box__title {
            color: #fff;
        }
    }
    .el-message-box__content {
        color: #fff;
    }
    .el-message-box__btns {
        .el-button {
            color: #c9d2d6;
            border: 0.01rem solid #c9d2d6;
            background-color: transparent;
            &+.el-button {
                color: #3bd7ff;
                border: 0.01rem solid #3bd7ff;
            }
        }
    }
}

/*-----地图病害样式-----*/
.custom-marker{
    width: 22px;
    height: 33px;
    background-image: url("../../assets/image/map/map-disease-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.custom-marker:hover{
    transform: scale(1.1);
}
.custom-marker-patrol{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border:4px solid #00DCFF;
    background-color: #fff;
}

/*----- 路下病害下拉框 ----- */
.under-road-left .search-wrap .value .el-input__inner{
    background-color: transparent;
    border: 1px solid #555E67;
    color: #B7C0C5;
    border-radius: 2px;
}
.under-road-left .search-wrap .value .el-input__inner:focus{
    border: 1px solid #2BA1DC;
}
/*----- 路下病害table ----- */
.under-disease-table{
    font-family: "SourceHanSansCN";
}
.under-disease-table .el-table__header-wrapper .cell{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    padding-left: 10px;
}
.under-disease-table .el-table__body-wrapper .cell{
    font-size: 12px;
    font-weight: 400;
    color: #C9D2D6;
    white-space: nowrap;
}
.under-disease-table .el-table{
    background-color: transparent;
}
.under-disease-table .el-table tr{
    background-color: transparent;
}
.under-disease-table .el-table th.el-table__cell{
    background-color: transparent;
}
.under-disease-table .el-table td.el-table__cell,
.under-disease-table .el-table th.el-table__cell.is-leaf{
    border-bottom: 0;
}
.under-disease-table .el-table--border .el-table__inner-wrapper::after,
.under-disease-table .el-table--border::after, .el-table--border::before,
.under-disease-table .el-table__inner-wrapper::before{
    background-color:transparent
}
.under-disease-table .el-table .cell{
    padding: 0;
}
.under-disease-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
    background-color: rgba(40, 84, 99, 0.45);
}
.under-disease-table .el-table__body td.el-table__cell,
.under-disease-table  .el-table__body th.el-table__cell.is-leaf {
    border-bottom: 0;
}
.under-disease-table .el-table .el-table__body .el-table__row:nth-child(odd){
    background-color: rgba(41, 50, 53, 0.45);
}

/*----- 路下病害弹框滚动条样式 -----*/
.under-disease-dialog .disease-info-item .img-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.under-disease-dialog .disease-info-item .img-list::-webkit-scrollbar-track {
    border-radius: 3px;
    background: transparent;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -ms-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -o-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
.under-disease-dialog .disease-info-item .img-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #5C8095;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

/*----- 路面舒适度switch样式 -----*/
.road-comfort-right .title-switch{
    line-height:32px;
}
.road-comfort-right .title-switch .el-switch__core{
    width: 36px!important;
    height:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(67, 80, 85, 1);
    border: 1px solid transparent;
}
.road-comfort-right .title-switch .el-switch__action{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    margin-top: -5px;
    left: 3px;
    background-color: #C9D2D6;
}
.road-comfort-right .el-switch.is-checked .el-switch__core .el-switch__action{
    margin-left:calc(-1px - 12px);
    background-color: #19D2EF;
}
/*----- 路面舒适度下拉框 ----- */
.road-comfort-right .search-wrap .value .el-input__inner{
    background-color: transparent;
    border: 1px solid #555E67;
    color: #B7C0C5;
    border-radius: 2px;
}
.road-comfort-right .search-wrap .value .el-input__inner:focus{
    border: 1px solid #2BA1DC;
}
/*----- 路面舒适度table样式 ----- */
.jump-car-table{
    font-family: "SourceHanSansCN";
}
.jump-car-table .el-table__header-wrapper .cell{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    padding-left: 10px;
    border-bottom: 1px solid rgba(77, 84, 85, 0.78) ;
}
.jump-car-table .el-table__body-wrapper .cell{
    font-size: 12px;
    font-weight: 400;
    color: #C9D2D6;
    white-space: nowrap;
}
.jump-car-table .el-table{
    background-color: transparent;
}
.jump-car-table .el-table tr{
    background-color: transparent;
}
.jump-car-table .el-table th.el-table__cell{
    background-color: transparent;
}
.jump-car-table .el-table td.el-table__cell,
.jump-car-table .el-table th.el-table__cell.is-leaf{
    border-bottom: 0;
}
.jump-car-table .el-table--border .el-table__inner-wrapper::after,
.jump-car-table .el-table--border::after, .el-table--border::before,
.jump-car-table .el-table__inner-wrapper::before{
    background-color:transparent
}
.jump-car-table .el-table .cell{
    padding: 0;
}
.jump-car-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
    background-color: transparent;
}
.jump-car-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell .cell{
    background-color: rgba(40, 84, 99, 0.45);
}
.jump-car-table .el-table__body td.el-table__cell,
.jump-car-table  .el-table__body th.el-table__cell.is-leaf {
    border-bottom: 0;
}
.jump-car-table .el-table .el-table__body td.el-table__cell{
    padding:4px 0;
    border-bottom: 1px dashed rgba(77, 84, 85, 0.78);
}
.jump-car-table .el-table .el-table__body td.el-table__cell .cell{
    height: 36px;
    line-height: 36px;
}
.jump-car-table .el-table .el-table__body .el-table__row:nth-child(odd) .cell{
    background-color: rgba(41, 50, 53, 0.45);
}
.jump-car-table .el-table .el-table__body .el-table__row .cell{
    width: calc(100%)!important;
}
/*异常跳车点checkbox样式*/
.jump-car-point .el-checkbox-group .el-checkbox__inner{
    background-color: transparent;
    border: 1px solid #3BD7FF;
}
.jump-car-point .el-checkbox-group .el-checkbox__label{
    color: #fff;
    font-size: 12px;
}
.jump-car-point .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #3BD7FF;
}
.jump-car-point .el-checkbox{
    margin-right: 10px;
}

/*----- 巡查管理下拉框(左) -----*/
.road-patrol-left .search-wrap .value .el-input__inner{
    background-color: transparent;
    border: 1px solid #555E67;
    color: #B7C0C5;
    border-radius: 2px;
}
.road-patrol-left .search-wrap .value .el-input__inner:focus{
    border: 1px solid #2BA1DC;
}
/*----- 巡查管理下拉框(右) -----*/
.road-patrol-right .search-wrap .value .el-input__inner{
    background-color: transparent;
    border: 1px solid #555E67;
    color: #B7C0C5;
    border-radius: 2px;
}
.road-patrol-right .search-wrap .value .el-input__inner:focus{
    border: 1px solid #2BA1DC;
}
/*----- 巡查管理table样式左 -----*/
.road-patrol-table{
    font-family: "SourceHanSansCN";
}
.road-patrol-table .el-table__header-wrapper .cell{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    padding-left: 10px;
}
.road-patrol-table .el-table__body-wrapper .cell{
    font-size: 12px;
    font-weight: 400;
    color: #C9D2D6;
    white-space: nowrap;
}
.road-patrol-table .el-table{
    background-color: transparent;
}
.road-patrol-table .el-table tr{
    background-color: transparent;
}
.road-patrol-table .el-table th.el-table__cell{
    background-color: transparent;
}
.road-patrol-table .el-table td.el-table__cell,
.road-patrol-table .el-table th.el-table__cell.is-leaf{
    border-bottom: 0;
}
.road-patrol-table .el-table--border .el-table__inner-wrapper::after,
.road-patrol-table .el-table--border::after, .el-table--border::before,
.road-patrol-table .el-table__inner-wrapper::before{
    background-color:transparent
}
.road-patrol-table .el-table .cell{
    padding: 0;
}
.road-patrol-table .el-table__body td.el-table__cell,
.road-patrol-table  .el-table__body th.el-table__cell.is-leaf {
    border-bottom: 0;
}
.road-patrol-table .el-table .el-table__body td.el-table__cell{
    padding:4px 0;
}
.road-patrol-table .el-table .el-table__body td.el-table__cell .cell{
    height: 36px;
    line-height: 36px;
    border-top: 1px solid #555E67;
    border-bottom: 1px solid #555E67;
    background-color: rgba(41, 50, 53, 0.2);
}
.road-patrol-table .el-table .el-table__body .el-table__row td.el-table__cell:first-child .cell{
    border-left: 1px solid #555E67;
    padding-left: 10px;
}
.road-patrol-table .el-table .el-table__body .el-table__row td.el-table__cell:last-child .cell{
    border-right: 1px solid #555E67;
}
.road-patrol-table .el-table .el-table__body .el-table__row .cell{
    width: calc(100%)!important;
}
.road-patrol-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
    background-color: transparent;
}
.road-patrol-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell .cell{
    background-color: rgba(40, 84, 99, 0.45);
    border-top: 1px solid #95C7DA;
    border-bottom: 1px solid #95C7DA;
}
.road-patrol-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell:first-child .cell{
    border-left: 1px solid #95C7DA;
}
.road-patrol-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell:last-child .cell{
    border-right: 1px solid #95C7DA;
}
.road-patrol-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell .check-detail{
    background-color: rgba(20, 85, 108, 0.6)
}

/*-----巡查管理 巡查道路详情滚动条-----*/
.road-patrol-left .road-patrol-detail .img-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.road-patrol-left .road-patrol-detail .img-list::-webkit-scrollbar-track {
    border-radius: 3px;
    background: transparent;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -ms-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    -o-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
.road-patrol-left .road-patrol-detail .img-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #5C8095;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
/*----- 巡查管理 右日期样式 -----*/
.road-patrol-right .half-item .value .el-input__inner{
    padding-left: 7px;
}
.road-patrol-right .half-item .el-date-editor.el-input, 
.road-patrol-right .half-item .el-date-editor.el-input__inner{
    width: calc(100% - 40px);
}
.road-patrol-right .half-item .value .el-input__prefix{
    display: none;
}


/*----- 巡查管理table样式右 -----*/
.device-table{
    font-family: "SourceHanSansCN";
}
.device-table .el-table__header-wrapper .cell{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    padding-left: 10px;
}
.device-table .el-table__body-wrapper .cell{
    font-size: 12px;
    font-weight: 400;
    color: #C9D2D6;
    white-space: nowrap;
}
.device-table .el-table__body-wrapper .cell .check-detail{
    font-size: 8px;
}
.device-table .el-table{
    background-color: transparent;
}
.device-table .el-table tr{
    background-color: transparent;
}
.device-table .el-table th.el-table__cell{
    background-color: transparent;
}
.device-table .el-table td.el-table__cell,
.device-table .el-table th.el-table__cell.is-leaf{
    border-bottom: 0;
}
.device-table .el-table--border .el-table__inner-wrapper::after,
.device-table .el-table--border::after, .el-table--border::before,
.device-table .el-table__inner-wrapper::before{
    background-color:transparent
}
.device-table .el-table .cell{
    padding: 0;
}
.device-table .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
    background-color: rgba(40, 84, 99, 0.45);
}
.device-table .el-table__body td.el-table__cell,
.device-table  .el-table__body th.el-table__cell.is-leaf {
    border-bottom: 0;
}
.device-table .el-table .el-table__body .el-table__row:nth-child(odd){
    background-color: rgba(41, 50, 53, 0.45);
}
/* 日期弹框样式修改 */
.el-picker__popper.date-popper{
    background-color: rgba(16, 18, 18, 0.9)!important;
    border: 0.01rem solid #555E67!important;
}
.el-picker__popper.date-popper .el-date-picker{
    background-color: rgba(16, 18, 18, 0.9);
}
.el-picker__popper.el-popper .el-popper__arrow::before{
    border: 1px solid #555E67;
    background-color: rgba(16, 18, 18, 0.9);
}
.el-picker__popper.date-popper .el-date-table th{
    border-bottom: 1px solid #555E67;
}
.el-date-table td.disabled .el-date-table-cell{
    background-color: #555E67;
}
/*----- 统计分析 下拉列表-----*/
.road-analysis-right .search-wrap .value .el-input__inner{
    background-color: transparent;
    border: 1px solid #555E67;
    color: #B7C0C5;
    border-radius: 2px;
}
.road-analysis-right .search-wrap .value .el-input__inner:focus{
    border: 1px solid #2BA1DC;
}
/*----- 统计分析 分页-----*/
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background-color: transparent;
    border: 1px solid #C9D2D6;
    color: #C9D2D6;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: transparent;
    border: 1px solid #3BD7FF;
    color: #3BD7FF;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #3BD7FF;
}
.el-pagination .btn-next .el-icon, 
.el-pagination .btn-prev .el-icon{
    font-weight: bold;
    color: #C9D2D6;
}
/*-----统计分析 级联选择-----*/
.cascader-popper{
    background-color: rgba(16, 18, 18, 0.8)!important;
    border: 1px solid #555E67!important;
}
.cascader-popper .el-popper__arrow::before{
    display: none;
}
.cascader-popper .el-cascader-panel .el-cascader-menu{
    border-right: 1px solid #555E67!important;
}
.cascader-popper .el-cascader-panel .el-cascader-node__label{
    color: #B7C0C5;
}
.cascader-popper .el-cascader-panel .el-cascader-menu:last-child{
    border-right: none!important;
}
.el-cascader-node:not(.is-disabled):focus, .el-cascader-node:not(.is-disabled):hover{
    background-color: transparent;
}
.cascader-popper .el-checkbox__inner{
    background-color: transparent;
    border: 1px solid #555E67;
}
.road-analysis-wrap .road-analysis-right .el-cascader .el-input__inner{
    background-color: transparent;
    border: 1px solid #555E67;
    color: #B7C0C5;
    border-radius:1px;
    font-size: 14px;
    height: 24px!important;
}
.road-analysis-wrap .road-analysis-right .el-cascader .el-input__inner::placeholder{
    color: #B7C0C5;
    font-size: 14px;
}
.road-analysis-wrap .road-analysis-right .el-cascader .el-cascader__tags{
    overflow: hidden;
    flex-wrap: nowrap;
    height: 24px;
}
.road-analysis-wrap .road-analysis-right .el-cascader .el-cascader__tags .el-cascader__search-input{
     margin-left: 5px;
     background-color: #05050a;
     height: 20px;
     color: #B7C0C5;
     font-size: 14px;
}
.road-analysis-wrap .road-analysis-right .el-cascader .el-cascader__tags .el-cascader__search-input::placeholder{
    color: #B7C0C5;
    font-size: 14px;
}
.road-analysis-wrap .road-analysis-right .el-cascader .el-cascader__tags .el-tag{
    background-color: #555E67;
}

/*-----全屏气泡弹框样式修改-----*/
.el-popper.is-dark{
    max-width: 300px;
    color: #fff!important;
    /* background-color: rgba(9,10,14,0.5); */
    background-color: rgba(21,21,21, 0.8);
    border: 1px solid #555E67;
}
.el-popper.is-dark .el-popper__arrow::before{
    background-color: rgba(21,21,21, 0.8)!important;
    border: 1px solid #555E67;
    border-top-color: transparent;
    border-left-color: transparent;
}