<template>
  <div class="login-wrap">
    <div class="login-module">
      <div class="logo">
        <img src="@/assets/image/logo/logo_tlcloud.png" alt="" />
      </div>
      <div class="name user-item" :class="{ active: userFocus }">
        <i class="iconfont icon-tlc-zhanghu"></i>
        <el-input
          class="user-name"
          v-model.trim="username"
          @focus="userFocus = true"
          @blur="userFocus = false"
          placeholder="用户名"
        />
      </div>
      <div class="password user-item" :class="{ active: passFocus }">
        <i class="iconfont icon-tlc-mima"></i>
        <el-input
          class="user-pass"
          v-model.trim="password"
          :type="showType"
          @focus="passFocus = true"
          @blur="passFocus = false"
          placeholder="密码"
        />
        <i
          class="iconfont icon-tlc-yanjing-hide hide-icon"
          v-show="showFlag"
          @click="changePasswordCode"
        ></i>
        <i
          class="iconfont icon-tlc-yanjing-show hide-icon"
          v-show="!showFlag"
          @click="changePasswordCode"
        ></i>
      </div>
      <!-- <div class="code user-item">
        <checkCode />
      </div> -->
      <div class="submit user-item" @click="userLoginEvent">登录</div>
    </div>
    <div class="login-footer">
      <span> Copyright©2020 - 2022 </span>
      <a class="a-link" href="http://www.tonglucloud.com" target="blank"
        >上海同陆云交通科技有限公司</a
      >
      <span> All Rights Reserved. </span>
    </div>
    <particles />
  </div>
</template>

<script>
import particles from "@/components/particles/particles";
// import checkCode from "@/components/checkCode/checkCode";
import { userLogin } from "@/utils/api-url";
import { setToken, setUserInfo } from "@/utils/auth.js";
export default {
  name: "Login",
  components: {
    particles,
    // checkCode,
  },
  data() {
    return {
      // username: 'admin-village',
      // password: '123456',
      username: "",
      password: "",
      clientId: "1092e064-5907-4e97-8dd2-3e0a30984323",
      userFocus: false,
      passFocus: false,
      showType: "password",
      showFlag: false,
    };
  },
  mounted() {
    if (this.isMobile()) {
      this.$alert("请使用电脑访问", "", {
        showConfirmButton: false,
        center: true,
        customClass: "isMobileMsgBox",
      });
    }
    this.handleKeyBoard();
  },
  methods: {
    // 添加判断方法
    isMobile() {
      const flag = navigator.userAgent.match(
        /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
      );
      return flag;
    },
    changePasswordCode() {
      this.showFlag = !this.showFlag;
      this.showType = this.showFlag ? "text" : "password";
    },
    handleKeyBoard() {
      const self = this;
      document.onkeydown = function (event) {
        if (event.key === "Enter") {
          self.userLoginEvent();
        }
      };
    },
    userLoginEvent() {
      // this.$router.push('/roadDisease')
      // return
      const params = {
        username: this.username,
        password: this.$md5(this.password),
        clientId: this.clientId,
        sysGroup: "4",
      };
      userLogin(params).then((res) => {
        if (res.code === 0) {
          console.log(res.data.accessToken);
          setToken(res.data.accessToken);
          setUserInfo(res.data.isDataCompany);
          this.$router.push("/roadDisease");
        }
      });
    },
  },
};
</script>
<style lang="scss">
.login-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../assets/image/login/login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  .login-module {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    margin-top: -214px;
    margin-left: -226px;
    width: 452px;
    height: 428px;
    background-image: url("../assets/image/login/login_border.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -33px;
      img {
        width: 66px;
        height: 66px;
      }
    }
    .user-item {
      border: 1px solid #03475a;
      border-radius: 4px;
      height: 50px;
      width: 360px;
      margin: 40px auto 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .iconfont {
        width: 50px;
        height: 40px;
        color: #cdf5fe;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .hide-icon {
        font-size: 15px;
        cursor: pointer;
      }
      .user-name {
        height: 40px;
        width: 260px;
      }
      .user-pass {
        height: 40px;
        width: 260px;
      }
    }
    .active {
      border: 1px solid #01d0ef;
    }
    .name {
      margin-top: 60px;
    }
    .submit {
      margin-top: 60px;
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      justify-content: center;
      border: 0;
      background-color: #09667a;
      cursor: pointer;
      &:active {
        background-color: rgba(9, 102, 122, 0.7);
      }
    }
  }
  .login-footer {
    position: absolute;
    z-index: 200;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #cdf5fe;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      height: 20px;
      line-height: 20px;
    }
    .a-link {
      color: #cdf5fe;
      font-size: 16px;
      text-decoration: none;
      letter-spacing: 1px;
      margin: 0 10px;
      height: 20px;
      line-height: 20px;
    }
  }
}

.isMobileMsgBox {
  width: 80%;
  height: 20%;
  .el-message-box__header {
    height: 20%;
    .el-message-box__headerbtn {
      width: 15%;
      height: 100%;
      .el-message-box__close {
        width: 100%;
        height: 100%;
        .icon {
          width: 100%;
          height: 100%;
          color: #fff;
        }
      }
    }
  }
  .el-message-box__content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
  }
}
</style>
