<template>
  <div id="sc"></div>
</template>
<script>
import remoteLoad from '@/utils/remoteLoad.js'
export default {
  data () {
    return {
      myAwsc: null
    }
  },
  async mounted () {
    if (!window.NVC_Opt) {
      await this.initOption()
      await remoteLoad('https://g.alicdn.com/sd/nvc/1.1.112/guide.js')

      console.log(window.NVC_Opt)
    }
    if (!window.ic) {
      await remoteLoad('https://g.alicdn.com/sd/smartCaptcha/0.0.1/index.js')
      await this.initData()
      this.myAwsc.init()
    }
  },
  methods: {
    async initData () {
      window.ic = new smartCaptcha({
        renderTo: '#sc',
        width: 360,
        height: 50,
        default_txt: '点击按钮开始智能验证',
        success_txt: '验证成功',
        fail_txt: '验证失败，请在此点击按钮刷新',
        scaning_txt: '智能检测中',
        success: function (data) {
          console.log(NVC_Opt.token)
          console.log(data.sessionID)
          console.log(data.sig)
        }
      })
      this.myAwsc = window.ic
    },
    async initOption () {
      window.NVC_Opt = {
        appkey: 'undefined',
        scene: 'ic_login',
        trans: { key1: 'code0', nvcCode: 200 },
        elements: [
          '//img.alicdn.com/tfs/TB17cwllsLJ8KJjy0FnXXcFDpXa-50-74.png',
          '//img.alicdn.com/tfs/TB17cwllsLJ8KJjy0FnXXcFDpXa-50-74.png'
        ],
        bg_back_prepared:
          '//img.alicdn.com/tps/TB1skE5SFXXXXb3XXXXXXXXXXXX-100-80.png',
        bg_front:
          'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABQCAMAAADY1yDdAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAADUExURefk5w+ruswAAAAfSURBVFjD7cExAQAAAMKg9U9tCU+gAAAAAAAAAIC3AR+QAAFPlUGoAAAAAElFTkSuQmCC',
        obj_ok: '//img.alicdn.com/tfs/TB1rmyTltfJ8KJjy0FeXXXKEXXa-50-74.png',
        bg_back_pass:
          '//img.alicdn.com/tfs/TB1KDxCSVXXXXasXFXXXXXXXXXX-100-80.png',
        obj_error: '//img.alicdn.com/tfs/TB1q9yTltfJ8KJjy0FeXXXKEXXa-50-74.png',
        bg_back_fail:
          '//img.alicdn.com/tfs/TB1w2oOSFXXXXb4XpXXXXXXXXXX-100-80.png',
        upLang: {
          cn: {
            _ggk_guide: '请摁住鼠标左键，刮出两面盾牌',
            _ggk_success: '恭喜您成功刮出盾牌<br/>继续下一步操作吧',
            _ggk_loading: '加载中',
            _ggk_fail: [
              '呀，盾牌不见了<br/>请',
              'javascript:noCaptcha.reset()',
              '再来一次',
              '或',
              'https://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN',
              '反馈问题'
            ],
            _ggk_action_timeout: [
              '我等得太久啦<br/>请',
              'javascript:noCaptcha.reset()',
              '再来一次',
              '或',
              'https://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN',
              '反馈问题'
            ],
            _ggk_net_err: [
              '网络实在不给力<br/>请',
              'javascript:noCaptcha.reset()',
              '再来一次',
              '或',
              'https://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN',
              '反馈问题'
            ],
            _ggk_too_fast: [
              '您刮得太快啦<br/>请',
              'javascript:noCaptcha.reset()',
              '再来一次',
              '或',
              'https://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN',
              '反馈问题'
            ]
          }
        }
      }
    }
  }
}
</script>
<style lang="scss">
#sc {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
.nc_scale {
  background: #e8e8e8 !important;
}
.nc_scale div.bc_bg {
  background: #7ac23c !important;
}
.nc_scale .scale_text2 {
  color: #fff !important;
}
.nc_scale span {
  border: 1px solid #ccc !important;
}
.errloading {
  border: #faf1d5 1px solid !important;
  color: #ef9f06 !important;
}
</style>
