<template>
  <div class="map-tool-bar backgroud-color" :class="{ 'translate-right': collapseFlag }">
      <div class="zoom-init" tabindex="1" @click="zoomChange('init')">
          <img src="@/assets/image/map/zoom-init.png" alt="">
      </div>
      <div class="zoom-in" tabindex="2" @click="zoomChange('in')">
          <img src="@/assets/image/map/zoom-in.png" alt="">
      </div>
      <div class="zoom-out" tabindex="3" @click="zoomChange('out')">
          <img src="@/assets/image/map/zoom-out.png" alt="">
      </div>
      <div class="full-screen" tabindex="4" @click="fullScreen()">
          <img src="@/assets/image/map/full-screen.png" alt="">
      </div>
  </div>
</template>
<script>
export default {
  name: 'mapToolBar',
  data () {
    return {
      collapseFlag: true
    }
  },
  mounted () {
    //
    this.$bus.$on('collapse', (data) => {
      this.collapseFlag = data
    })
  },
  methods: {
    zoomChange (flag) {
      this.$bus.$emit('zoomChangeFlag', flag)
      // console.log('zoomChangeFlag bus emit', flag)
    },
    fullScreen () {
      const elem = document.documentElement
      if (document.fullscreenElement === null) {
        this.openFullscreen(elem)
      } else {
        this.closeFullscreen()
      }
    },
    /* View in fullscreen */
    openFullscreen (elem) {
      if (elem.requestFullscreen) {
        elem.requestFullscreen()
      } else if (elem.mozRequestFullScreen) { /* Firefox */
        elem.mozRequestFullScreen()
      } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
        elem.webkitRequestFullscreen()
      } else if (elem.msRequestFullscreen) { /* IE/Edge */
        elem.msRequestFullscreen()
      }
    },
    /* Close fullscreen */
    closeFullscreen () {
      if (document.exitFullscreen) {
        document.exitFullscreen()
      } else if (document.mozCancelFullScreen) { /* Firefox */
        document.mozCancelFullScreen()
      } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
        document.webkitExitFullscreen()
      } else if (document.msExitFullscreen) { /* IE/Edge */
        document.msExitFullscreen()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
    .map-tool-bar {
        width: 44px;
        height: 164px;
        z-index: 2000;
        position: absolute;
        right: 300px;
        bottom: 100px;
        padding: 8px 9px;
        display: flex;
        flex-direction: column;
        > div {
            flex: 1;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:first-child) {
                margin-top: 6px;
            }
            &:hover
            {
                background-color: #3E879F;
            }
            &:focus,
            &:active {
                background-color: #3E879F;
                filter: brightness(1.1);
            }
            img {
                width: 60%;
                height: 70%;
            }
        }
    }
    .translate-right {
      transform: translateX(380px);
    }
</style>
