@font-face {
  font-family: "iconfont"; /* Project id 3139537 */
  src: url('iconfont.woff2?t=1646369671955') format('woff2'),
       url('iconfont.woff?t=1646369671955') format('woff'),
       url('iconfont.ttf?t=1646369671955') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tlc-jia:before {
  content: "\e600";
}

.icon-tlc-jian:before {
  content: "\e601";
}

.icon-tlc-quanping:before {
  content: "\e604";
}

.icon-tlc-center:before {
  content: "\e662";
}

.icon-tlc-guanji:before {
  content: "\e6a5";
}

.icon-tlc-yanjing-show:before {
  content: "\e6cf";
}

.icon-tlc-yanjing-hide:before {
  content: "\e6d1";
}

.icon-tlc-mima:before {
  content: "\e7e2";
}

.icon-tlc-zhanghu:before {
  content: "\e7e5";
}

