<template>
  <div class="road-surface-wrap">
    <!-- 地图 -->
    <mapBackground @mapLngLat="mapLngLat" />
    <!-- 优良中差图例 -->
    <div class="road-line-legend" :class="{ 'translate-right': collapseFlag }">
      <div class="legend-item optimal-item">
        <div class="border">
          <i></i>
        </div>
        <div class="label">优</div>
      </div>
      <div class="legend-item good-item">
        <div class="border">
          <i></i>
        </div>
        <div class="label">良</div>
      </div>
      <div class="legend-item middle-item">
        <div class="border">
          <i></i>
        </div>
        <div class="label">中</div>
      </div>
      <div class="legend-item secondary-item">
        <div class="border">
          <i></i>
        </div>
        <div class="label">次</div>
      </div>
      <div class="legend-item poor-item">
        <div class="border">
          <i></i>
        </div>
        <div class="label">差</div>
      </div>
    </div>
    <!-- 地图工具条 -->
    <mapToolBar />
    <!-- 鼠标经纬度 -->
    <div class="map-mouse-lnglat">{{ `当前位置:${mouseLng},${mouseLat}` }}</div>
    <!-- 左侧 -->
    <roadSurfaceLeft />
    <!-- 右侧 -->
    <roadSurfaceRight />
  </div>
</template>

<script>
import mapBackground from '@/components/mapBg/mapBg.vue'
import mapToolBar from '@/components/mapToolBar/mapToolBar.vue'
import roadSurfaceLeft from '@/components/roadSurfaceLeft/roadSurfaceLeft.vue'
import roadSurfaceRight from '@/components/roadSurfaceRight/roadSurfaceRight.vue'
export default {
  name: 'Home',
  components: {
    mapBackground,
    mapToolBar,
    roadSurfaceLeft,
    roadSurfaceRight
  },
  data () {
    return {
      mouseLng: '0',
      mouseLat: '0',
      diseaseDialogType: 0, // 0不弹框 1病害弹框 2时光机弹框
      diseaseId: '', // 病害ID
      diseaseInfo: null, // 病害信息
      mapCarFlag: true,
      mapRoadFlag: false,
      roadLineList: [], // 道路画线数据
      collapseFlag: true
    }
  },
  mounted () {
    //
    // this.$bus.$on('collapse', (data) => {
    //   this.collapseFlag = data
    // })
    //
    this.$bus.$on('isShowRoadLineLegend', (data) => {
      this.collapseFlag = !data
    })
  },
  methods: {
    mapLngLat (lnglat) {
      // console.log('lnglat', lnglat)
      this.mouseLng = lnglat.lng
      this.mouseLat = lnglat.lat
    }
  }
}
</script>
<style scoped lang="scss">
.road-surface-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  .car-road-track {
    position: absolute;
    z-index: 200;
    right: 415px;
    top: 100px;
    width: 178px;
    height: 34px;
    background-color: rgba(51, 61, 71, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    span {
      color: #b7c0c5;
      font-size: 14px;
      font-weight: 400;
    }
    i {
      width: 17px;
      height: 17px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
    }
    .car {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      cursor: pointer;
      i {
        margin-left: 10px;
        background-image: url("../../assets/image/map/car_icon.png");
      }
    }
    .road {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 2px;
      i {
        margin-left: 10px;
        background-image: url("../../assets/image/map/road_icon.png");
      }
    }
    .active-car {
      span {
        color: #3bd7ff;
      }
      i {
        background-image: url("../../assets/image/map/active_car_icon.png");
      }
    }
    .active-road {
      span {
        color: #3bd7ff;
      }
      i {
        background-image: url("../../assets/image/map/active_road_icon.png");
      }
    }
  }
  .map-mouse-lnglat {
    position: absolute;
    z-index: 200;
    right: 20px;
    bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .road-line-legend {
    position: absolute;
    z-index: 200;
    right: 350px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 20px;
    background-color: rgba(18, 22, 24, 0.6);
    border-radius: 2px;
    .legend-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .border {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
      .label {
        margin-left: 5px;
        font-size: 16px;
        color: #fff;
      }
    }
    .optimal-item {
      .border {
        border: 1px solid #19ef98;
        i {
          background-color: #19ef98;
        }
      }
    }
    .good-item {
      .border {
        border: 1px solid #19d2ef;
        i {
          background-color: #19d2ef;
        }
      }
    }
    .middle-item {
      .border {
        border: 1px solid #f2bf18;
        i {
          background-color: #f2bf18;
        }
      }
    }
    .secondary-item {
      .border {
        border: 1px solid #fb751d;
        i {
          background-color: #fb751d;
        }
      }
    }
    .poor-item {
      .border {
        border: 1px solid #e72405;
        i {
          background-color: #e72405;
        }
      }
    }
  }
}
.translate-right {
  transform: translateX(680px);
}
</style>
