<!--  -->
<template>
  <div>
    <div id="particles"></div>
  </div>
</template>

<script>
import particlesJs from 'particles.js'
import particlesConfig from './particles.json'
export default {
  data () {
    return {}
  },
  // 生命周期 - 挂载完成（访问DOM元素）
  mounted () {
    this.$nextTick(() => {
      if (!window.pJSDom) {
        window.pJSDom = []
      }
      particlesJS('particles', particlesConfig)
    })
  }
}
</script>
<style lang="scss" scoped>
div,
#particles {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
</style>
