<template>
  <Layout v-if="$route.path !== '/login'">
    <router-view v-if="isRouterAlive" />
  </Layout>
  <router-view v-else />
</template>
<script>
import Layout from './layout/index.vue'
export default {
  name: 'App',
  components: {
    Layout
  },
  data () {
    return {
      isRouterAlive: true,
      commonState: {
        loading: false
      }
    }
  },
  provide () {
    return {
      reload: this.reload,
      commonState: this.commonState,
      switchLoading: (flag) => {
        this.switchLoadingEvent(flag)
      }
    }
  },
  methods: {
    // 重新加载
    reload () {
      this.isRouterAlive = false
      this.$nextTick(function () {
        this.isRouterAlive = true
      })
    },
    // 修改加载中值
    switchLoadingEvent (boolean) {
      this.commonState.loading = boolean
    }
  }
}
</script>
<style lang="scss">
html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  font-family: a-num,d-num,SourceHanSansCN;
}
</style>
