/* eslint-disable quotes */
<template>
  <div class="layout-wrap">
    <el-row class="layout-header">
      <el-col :span="7">
        <div class="left-header">
          <div class="collapse-btn" @click="collapseEvent()">
            <span class="collapse-name" :class="{'active': collapseFlag}">{{!collapseFlag ? '收起所有' : '展开所有'}}</span>
            <el-icon class="collapse-icon" :class="{'active': collapseFlag}"><d-arrow-right/></el-icon>
          </div>
        </div>
      </el-col>
      <el-col :span="10">
        <div class="center-header">
          <img
            class="logo"
            src="../assets/image/logo/logo_default.png"
            alt=""
          />
          <div class="title">农村道路检测管理平台</div>
          <!-- <div
            class="title-item"
            :class="{ 'curr-title': currTitle === tIndex }"
            v-for="(tItem, tIndex) in titleList"
            :key="tIndex"
            @click="selectTitleEvent(tItem.path, tIndex)"
          >
            {{ tItem.name }}
          </div> -->
        </div>
      </el-col>
      <el-col :span="7"
        ><div class="right-header">
          <div class="data-time" v-if="dateTime">
            <div class="time">
              <span>{{ dateTime.timeH }}</span>
              <span class="dot">:</span>
              <span>{{ dateTime.timeS }}</span>
            </div>
            <div class="day-week">
              <span class="day">{{ dateTime.date }}</span>
              <span class="week">{{ dateTime.week }}</span>
            </div>
          </div>
          <div class="day-weather" v-if="weather">
            <span>{{ weather.temp }}</span>
            {{ "℃" + " " + weather.wea }}
          </div>
          <div
            class="login-out iconfont icon-tlc-guanji"
            @click="loginOut"
          ></div>
        </div>
        </el-col>
    </el-row>
    <div class="main-container">
      <slot></slot>
    </div>
    <div class="loading-wrap backgroud-color" v-show="loading">
      <div class="loading"></div>
      <span class="loading-tip">加载中...</span>
    </div>
  </div>
</template>

<script>
import { userLoginOut } from '@/utils/api-url'
import { removeToken, removeUserInfo } from '@/utils/auth'
import { useRouter } from 'vue-router'
import { DArrowRight } from '@element-plus/icons-vue'
export default {
  name: 'Layout',
  components: {
    DArrowRight
  },
  inject: ['commonState', 'switchLoading'],
  data () {
    return {
      titleList: [
        {
          id: 1,
          name: '路面病害',
          path: '/roadDisease'
        },
        {
          id: 2,
          name: '路下病害',
          path: '/underRoadDisease'
        },
        {
          id: 3,
          name: '路面舒适度',
          path: '/roadComfort'
        },
        {
          id: 4,
          name: '巡查管理',
          path: '/roadPatrol'
        },
        {
          id: 5,
          name: '统计分析',
          path: '/roadAnalysis'
        }
      ],
      dateTime: null,
      timer: null,
      weather: null,
      collapseFlag: true
    }
  },
  computed: {
    loading () {
      return this.commonState.loading
    },
    currTitle () {
      let index = 0
      const cRouter = useRouter()
      const nPath = cRouter.currentRoute.value.fullPath
      console.log(cRouter)
      console.log(nPath)
      if (nPath === '/') {
        index = 0
      } else {
        for (let i = 0; i < this.titleList.length; i++) {
          if (this.titleList[i].path === nPath) {
            index = i
          }
        }
      }
      return index
    }
  },
  mounted () {
    const self = this

    // 初始化时间
    self.initDateTime()

    self.timer = setInterval(() => {
      self.initDateTime()
    }, 1000)
    // 初始化天气
    self.$bus.$on('getWeather', (data) => {
      this.weather = data
      if (data) {
        const time = self.$moment(new Date()).format('HH')
        this.weather = {
          temp: Number(time) >= 18 ? data.nightTemp : data.dayTemp,
          wea: Number(time) >= 18 ? data.nightWeather : data.dayWeather
        }
      }
    })

    // 初始化选中标题
    // const cRouter = useRouter();
    // const nPath = cRouter.currentRoute.value.fullPath;
    // console.log(cRouter);
    // console.log(nPath);
  },
  beforeUnmount () {
    clearInterval(self.timer)
  },
  methods: {
    initDateTime () {
      const date = this.$moment(new Date()).format('MM-DD')
      const time = this.$moment(new Date()).format('HH:mm')
      const h = this.$moment(new Date()).format('HH')
      const s = this.$moment(new Date()).format('mm')
      const week = this.$moment(new Date()).format('dddd')
      this.dateTime = {
        date: date,
        time: time,
        timeH: h,
        timeS: s,
        week: week
      }
    },
    selectTitleEvent (path, index) {
      // this.currTitle = index;
      this.$router.push(path)
    },
    // 退出登录
    loginOut () {
      this.$confirm('确定登出?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        userLoginOut().then((res) => {
          removeToken()
          removeUserInfo()
          this.$router.push('/login')
        })
      }).catch(() => {
      })
    },
    // 折叠收起
    collapseEvent () {
      // console.log("collapseEvent")
      this.collapseFlag = !this.collapseFlag
      this.$bus.$emit('collapse', this.collapseFlag)
      // console.log(this.$bus)
    }
  }
}
</script>
<style lang="scss" scoped>
.layout-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  .layout-header {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 20px;
    right: 20px;
    background-color: transparent;
    background-image: url("../assets/image/top/header_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: center bottom;
    .left-header {
      .collapse-btn {
        position: absolute;
        left: 14px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        .collapse-name {
          white-space: nowrap;
          font-size: 12px;
          color: #fff;
          &.active {
          color: #3bd7ff;
          }
        }
        .collapse-icon {
          position: static;
          font-size: 12px;
          color: #fff;
          cursor: pointer;
          &.active {
          color: #3bd7ff;
          }
        }
      }
    }
    .center-header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      .logo {
        width: 40px;
        height: 40px;
      }
      .title {
        font-size: 36px;
        font-weight: 500;
        color: #fff;
        text-indent: 16px;
        height: 40px;
        line-height: 40px;
      }
    }
    .right-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #c9d2d6;
      height: 80px;
      .data-time {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .time {
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          .dot {
            padding: 0 0 6px 0;
          }
        }
        .day-week {
          font-size: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin-left: 10px;
        }
      }
      .day-weather {
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        height: 30px;
        text-indent: 20px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 18px;
          top: 50%;
          margin-top: -9px;
          left: 0;
          background-color: rgba(201, 212, 214, 0.2);
        }
      }
      .login-out {
        margin-left: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  .main-container {
    position: relative;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .loading-wrap {
    position: absolute;
    z-index: 999;
    width: 240px;
    height: 130px;
    top: 140px;
    left: 50%;
    margin-left: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .loading {
      width: 100px;
      height: 100px;
      background-image: url("../assets/image/common/loading_list.gif");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
    }
    .loading-tip {
      font-size: 18px;
      font-weight: 400;
      color: #fff;
    }
  }
}
</style>
